<h1>All Posts!</h1>


<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  </thead>
  <tbody>
  <% @blog.each do |i| %>
      <tr>
        <td>
          <!-- <%= link_to i.title, "/blogs/#{i.id}" %> -->
          <a href="/blogs/<%= i.id %>">
            <%= i.title %>
          </a>
        </td>
        <td><%= i.body %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<!--<a href = "/blogs/new">Create a new blog post</a>-->

<form action="/blogs/new">
  <input type="submit" value="New Post" />
</form>